body,
html {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    /* overflow-x: hidden;
    */
}

@media only screen and (max-width:768px) {
    aside,
    .front_left {
        display: none;
    }
}


/* Header description */

header {
    height: 60px;
    width: 97.9%;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    box-sizing: inherit;
}

header p {
    top: 40px;
    display: inline-block;
    text-align: left;
    font-size: 1em;
    color: #920000d7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 5%;
    margin: 0;
}

header span {
    display: inline-block;
    top: 40px;
    text-align: left;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #920000d7;
    margin: 0;
    position: absolute;
    right: 10%;
}

label {
    position: absolute;
    display: inline;
    left: 65%;
    top: 45%;
    padding: 19px;
    color: #920000d7;
    border: #000000;
}

.search {
    width: 200px;
    border-color: #000000;
}

.search:focus {
    border-color: #ffffff;
    background: #920000d7;
    outline: none;
    font-decoration: #000000;
}


/* Left block description */

aside {
    float: left;
    border: 1px, solid, crimson;
    max-width: 768px;
    top: 2%;
    left: 2%;
    height: 50%;
    text-align: justify;
    position: relative;
}

.signs {
    position: absolute;
    width: 400px;
    top: 45%;
    float: left;
    text-decoration-style: wavy;
    -moz-text-decoration-style: ;
}

aside ol lh {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bolder;
    text-align: justify;
    position: absolute;
    display: block;
    padding-bottom: 30px;
    padding-top: 35px;
    bottom: 100%;
    left: 10%;
}


/* Central block description */

article {
    position: relative;
    display: block;
    left: 0%;
    width: 80%;
    float: right;
    top: 10%;
}

article span {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    height: auto;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #920000d7;
}

.preceptor {
    display: inline-block;
    padding-bottom: 10px;
    height: 40px;
    position: relative;
    width: 150px;
    left: 85%;
}

.tel {
    position: absolute;
    display: inline-block;
    left: 85%;
    top: 50%;
}

.danger {
    position: absolute;
    text-align: justify;
    left: 300px;
    top: -50px;
    display: block;
    height: 300px;
    width: 800px;
    left: 20%;
}

article img {
    display: inline-block;
    position: absolute;
    opacity: 0.5;
    width: 800px;
    height: 400px;
    right: 0;
    top: 80px;
    bottom: 40%;
    left: 20%;
}


/*Pseudo CLass */

.hover:hover {
    color: #920000d7;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

a::before {
    font: #920000d7;
}

a:link {
    font: #000000;
    text-decoration: none;
}


/* Footer description */

#footer {
    height: 12%;
    width: 100%;
    display: block;
    margin-bottom: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: crimson;
    clear: both;
    bottom: 0;
    background-color: #920000d7;
}

.front_left {
    display: block;
    font-size: 1em;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    left: 2%;
    width: 500px;
    height: 10%;
    text-decoration: underline;
    bottom: 90%;
    height: 100px;
}

p {
    text-align: justify;
}

.front_right {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 40px;
    position: absolute;
    text-align: justify;
    font-size: 1em;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    right: 2%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-decoration: underline;
    bottom: 90%;
}

aside button {
    position: absolute;
    left: 0;
    display: block;
    bottom: -35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 4px;
    color: #920000d7;
    background-color: #000000;
    border-radius: 15px 15px 15px 0px;
    height: 40px;
    width: 120px;
    text-align: center;
    -webkit-border-radius: 15px 15px 15px 0px;
    -moz-border-radius: 15px 15px 15px 0px;
    -ms-border-radius: 15px 15px 15px 0px;
    -o-border-radius: 15px 15px 15px 0px;
}

aside button:hover {
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
}

#audio {
    cursor: crosshair;
}