body {
    margin: 0;
    display: relative;
    height: 100%;
    width: 100%;
    / * overflow-x: hidden;
    */
}

header {
    height: 60px;
    width: 97.9%;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    box-sizing: inherit;
}

header p {
    top: 25px;
    display: inline-block;
    text-align: left;
    font-size: 1em;
    color: #920000d7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 10px;
    margin: 1%;
}

header span {
    display: inline-block;
    top: 25px;
    text-align: left;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #920000d7;
    margin: 1%;
    position: absolute;
    left: 90%;
    float: right;
}

label {
    position: absolute;
    display: inline;
    left: 40%;
    top: 25px;
    padding: 19px;
    color: #920000d7;
    border: #000000;
}

.search {
    width: 200px;
    border: #000000;
}

aside {
    float: left;
    border: 1px, solid, crimson;
    width: 10em;
    height: 100%;
    text-align: justify;
    position: relative;
}

aside ul {
    height: 100%;
    position: static;
}

article {
    position: absolute;
    display: block;
    left: 25%;
    width: auto;
    float: left;
}

article p {
    position: relative;
    text-align: justify;
    box-flex: left;
    margin: 2%;
    width: auto;
    height: auto;
    left: 8%;
    top: 20px;
    display: block;
    float: left;
}

article img {
    display: inline-block;
    position: relative;
    float: right;
    width: 500px;
    height: 300px;
    right: 40%;
    top: 45px;
    padding-top: 0;
}

.hover:hover {
    color: indigo;
    cursor: pointer;
}

#footer {
    height: 10%;
    width: 100%;
    display: block;
    margin-bottom: 0;
    position: absolute;
    background-color: crimson;
    clear: both;
    bottom: 0;
    background-color: #920000d7;
}

.front_left {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 4%;
    text-align: left;
    text-decoration: underline;
    bottom: 4em;
    float: left;
}

.front_right {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    position: absolute;
    text-align: right;
    font-size: 1em;
    right: 4%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-decoration: underline;
    bottom: 4em;
}

#footer button {
    position: absolute;
    left: 0;
    display: block;
    bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    font-weight 900;
    letter-spacing: 4px;
    color: #920000d7;
    background-color: #000000;
    border-radius: 15px;
    height: 40px;
    width: 120px;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#footer button:hover {
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
}

#audio {}