body {
  margin: 0;
  display: block;
  height: 98%;
  width: auto;
  / * overflow-x: hidden;
  */
}

header {
  height: 60px;
  width: 97.9%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: inherit;
}

header p {
  top: 25px;
  display: inline-block;
  text-align: left;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  left: 10px;
  margin: 1%;
}

header span {
  display: inline-block;
  top: 25px;
  text-align: left;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #c0433a;
  margin: 1%;
  background-color: aliceblue;
  position: absolute;
  left: 90%;
  float: right;
}

label {
  position: absolute;
  left: 70%;
  top: 25px;
  padding: 19px;
  color: #920000d7;
  border: #000000;
}

label input {}

article {
  position: relative;
  display: block;
  left: 25%;
  width: auto;
  float: left;
}

article p {
  position: absolute;
  text-align: justify;
  box-flex: left;
  margin: 2%;
  width: auto;
  height: auto;
  left: 40em;
  top: 10%;
  display: block;
  float: left;
}

article img {
  display: block;
  top: 20%;
  width: 600px;
  height: 400px;
  position: absolute;
  left: 20%;
  padding-bottom: 2em;
}

aside {
  float: left;
  border: 1px, solid, crimson;
  width: 10em;
  height: 100%;
  text-align: justify;
  position: relative;
}

aside ul {
  height: 100%;
  position: static;
}

.hover:hover {
  color: indigo;
  cursor: pointer;
}



#footer {
  height: 80px;
  display: block;
  margin-bottom: 0;
  position: inherit;
  background-color: crimson;
  clear: both;
  bottom: 50px;
}

.front_left {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 0.5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  text-align: left;
  text-decoration: underline;
  bottom: 4em;
}

.front_right {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 0.5em;
  position: absolute;
  text-align: right;
  right: 5%;
  margin-right: auto;
  order: 0;
  margin-left: auto;
  margin-bottom: 0;
  text-decoration: underline;
  bottom: 4em;
}

aside span button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(240, 6, 6, 0.8);
  border-radius: 15px;
  height: 40px;
  width: 120px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  display: block;
}

button:hover {
  cursor: pointer;
  color: ghostwhite;
}
